# Ignorar archivos de configuración de Visual Studio Code
.vscode/

# Archivos del sistema de macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Iconos e información de carpetas
Icon_
._*

# Archivos temporales y de miniaturas
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.tmp
*.log

# Directorios de red y volúmenes remotos
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Ignorar archivos de compilación
dist/
build/